[Unit]
Description=goPodder
Documentation=https://github.com/cbrgm/gopodder/blob/main/README.md

[Service]
Type=simple
User=__APP__
Group=__APP__
ExecStart=__INSTALL_DIR__/gopodder serve --listen-address 127.0.0.1:__PORT__ --db-path __DATA_DIR__/gopodder.db
Restart=always

[Install]
WantedBy=multi-user.target
